/* This is a modern css reset found here:
https://www.joshwcomeau.com/css/custom-css-reset/
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  font-family: "Josefin Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 2.5;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  width: 40%;
  padding: 10px;
  background-color: #f0e1ff7f;
}
h1 {
  line-height: 1.5;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1 {
  font-size: 3em;
  color: var(--primary);
  margin-bottom: 0.5em;
  text-align: center;
  margin-top: 1em;
}
h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.2em;
}
.intro {
  margin-bottom: 2em;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@media (max-width: 1600px) {
  body {
    width: 90%;
  }
}
